{%extends "base.html"%}

{% block content %}
{{block.super}}

<div class="container-fluid my-2">


    <ul class="list-group mt-2">
        {% for dpt in dpts %}
        <li class="list-group-item my-1">
            Name: <strong>
                {{ dpt.name }}
            </strong>
            <hr>
            Email: <strong>
                {{ dpt.email }}
            </strong>
                <hr>
            Neighborhood: <strong>
                {{ dpt.location.name }},{{ dpt.location.location }}
            </strong>
        </li>
        {% endfor %}
    </ul>

</div>
<!-- copyrights -->
<div class="mt-1 text-center">
    <small class="text-center">
    Copyright © 2021 Neighborhood Inc. All Rights Reserved
    </small>
</div>
{% endblock %}